.search__nav {
  margin: 20px 0px;
}

.search__button {
  width: inherit;
  background-color: theme('colors.primary');
  border-color: theme('colors.primary');
}

.search__input {
  border-radius: 50rem;
}

.search__icon {
  height: 16px;
  margin-right: 5px;
}

@media (max-width: 991px) {
  .search__nav {
    margin: 20px 0px 10px 0px;
  }
}